Django>=5.2,<5.3
djangorestframework>=3.16,<3.17
djangorestframework-simplejwt>=5.5,<6
django-cors-headers>=4.6,<5
django-filter>=25.1,<26
drf-spectacular>=0.28,<0.31
psycopg[binary]>=3.2,<4
cloudinary>=1.44,<2
Pillow>=11,<13
celery[redis]>=5.5,<6
redis>=5,<8
gunicorn>=23,<24
whitenoise>=6.8,<7
python-dotenv>=1,<2
requests>=2.32,<3
